.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #eaeaea;
}
.form-container {
  background-color: #fff;
  padding: 4rem;
  border-radius: 10px;
  box-shadow: 5px 5px 10px #aaa;
  width: 50%;
}
.form{
  display: flex;
  flex-direction: column;
  width: 100%;
}
.form input {
  line-height: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 5px;
  border: 1px solid #aaa;
  margin-top: 5px;
}
.error{
  margin: .5rem 0;
  color: red;
  font-size: 12px;
  background-color: #eaeaea;
  padding: 5px;
}
.input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}